<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bread CRM</title>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <div class="navbar">                    
                <!-- <a href=""><img src="BreadCRMLogo.png" alt="Logo" width="50" height="50"> -->
                <ul class="nav-data-pages">
                    <li><a href="/customers">Customers</a></li>
                    <li><a href="/orders">Orders</a></li>
                    <li><a href="/issues">Issues</a></li>
                    <li><a href="/knowledge">Knowledge Base</a></li>
                </ul>

                <ul class="nav-user-pages">
                    <li><a href="#">Username</a></li>
                    <li><a href="#"><img src="UserLogo.jpg" alt="Logo" width="25" height="25"></a></li>
                </ul>
        </div>
        <section class="body">
            <div class="container">
                <h1 class="subheader">Welcome to Bread CRM</h1>
                <p class="maintext">
                    This web app lets you manage customer information, track orders and issues 
                    and store solutions and training material for onboarding new employees
                    Use the links at the header to navigate to all the customer information.
                    
                    Bread CRM is still in development to add more features and functionality. 
                    Feel free to contact the dev to request features or report a bug.
                </p>
            </div>
        </section>
        <section class="footer">
            <div>
                <ul>
                    <li><a href="/">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
                <p>Bread CRM by Zachariah Weaver 2022</p>
            </div>

        </section>

    </body>
</html>