@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@400;700&display=swap');
body{
    color: #FFFFFF;
    margin: 0;
    font-family: 'Fira Sans Extra Condensed';
    
}
.navbar {
    background-color: #065B05;
    height: 40px;
    width: 100%;
    position: absolute;
    top: 0;
    .nav-data-pages{
        margin-top: 0;
        margin-bottom: 0;
        
        li{
                width: fit-content;
                float: left;
                font-size: 16pt;
                padding-top: 1%;
                padding-right: 2em;
                padding-left: 2em;
        }
        
    }
    .nav-user-pages{
        margin-top: 0;
        margin-bottom: 0;


        li{
            width: fit-content;
            font-size: 16pt;
            padding-top: 1%;
            padding-right: 1em;
            padding-left: 1em;
            float: right;
            vertical-align: middle;
        }

    }

}
.body    {
    background-color: #200F0FCC;
    position: absolute;
    width: 100%;
    top: 40px; /* Header Height */
    bottom: 40px;
    display: block;
    overflow-y: auto;

    padding-left: 20%;
    padding-right: 20%;    
    padding-top: 4em;
    padding-bottom: 2em;
    box-sizing: border-box;

    .subheader{
        font-size: 4em;
        margin-top: 0;
        margin-bottom: 0;
    }    
    .maintext{
        font-size: 2em;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
    }

}




.footer {
    background-color: #200F0FE6;
    color: #FFFFFF;
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    display: inline-block;
    box-sizing: border-box;


        li{
            width: fit-content;
            font-size: 12pt;
            padding-right: 1em;
            padding-left: 1em;
            float: left;
        }
    
    p{
        margin-top: 0; //
        margin-bottom: 0;
        float: right;
        width: fit-content;
        font-size: 10pt;
        color: #000000;
        padding-right: 1em;
        padding-left: 1em;
        float: right;
    }
}
a{
    color: #FFFFFF;
    text-decoration: none;
}
ul{
    list-style: none;
}

img{
    float: left;
}


